{% extends 'base.html' %}
{% block content %}
        <style>
            /*css reset*/
            body{
                margin: 0;
            }
            
            /*css*/
            
            body {
                font-family: 'Sunflower', sans-serif;
                background-color: lightblue;
                color: black;
                text-align: center;
            }
        </style>
    </head>
    <body>
        
        <br>
        <h2>글자가 얼마인지 세주는 유용한 시스템!</h2>
        <br>
        <form action="{%url 'result'%}">
        <div class="form-group">
            <label for="exampleFormControlTextarea1">글자를 입력하세요!</label>
            <br>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="fulltext"></textarea>
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Count!">
        </form>
</body>
</html>
{% endblock %}